/* FONTES 
font-family: 'Montserrat', sans-serif; 400, 600, 700
font-family: 'Open Sans', sans-serif; 400, 700
*/

* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif; 
}

:root {
   --color-primary: #FFFFFF;
   --color-secondary: #1B1B1B;
   --color-tertiary: #333333;
   --color-gray-medium: #757575;
   --color-gray-light: #F6F6F6;
   --color-orange: #FF4C00;
   --color-green: #007A3B;
   --color-red: #FF0000;
}

/* GENERAL CONFIG */
button {
   background-color: var(--color-orange);
   color: var(--color-primary);
   font-size: 1rem;
   font-weight: 700;
   padding: 0.5rem 1rem ;
   border-radius: 0.4rem;
   border: none;
   cursor: pointer;
}

h1, h2, h3, h4, p, a, span, label {
   color: #1B1B1B;
   font-size: 1rem;
}

.app {
   display: flex;
   justify-content: center;
   background-color: #eeeeee;
}

.main-container {
   background-color: var(--color-primary);
   padding-bottom: 10rem;
   position: relative;
}

.about {
   position: relative;
}
   
.about img {
   width: 100%;
}

.about #btnAbout {
   position: absolute;
   bottom: 1rem;
   right: 1rem;
   background-color: #ffffffc4;
   color: var(--color-orange);
}

header {
   padding: 1rem 1.25rem 2rem;
}

header h1 {
   font-weight: 700;
   font-size: 1.25rem;
}

header p {
   color: var(--color-red);
   font-weight: 600;
   margin-block: 1rem 2rem;
}

header h3 {
   font-size: 1rem;
   font-weight: 400;
}

header h2 {
   color: var(--color-tertiary);
   font-size: 1rem;
   font-weight: 400;
}

header div {
   background-color: var(--color-gray-light);
   border-radius: 0.4rem;
   padding: 1rem;
   text-align: center;
}

#menu {
   padding-inline: 1.25rem;
}

#menu h2 {
   font-size: 1.25rem;
   font-weight: 400;
}

#menu #menuItemsContainer {
   margin-top: 1rem;
   border-bottom: 2px solid #eeeeee;
}

#menu #menuItemsContainer .item {
   border-top: 2px solid #eeeeee ;
   padding-block: 1rem;
}

#menu #menuItemsContainer .item .item-container {
   display: flex;
   align-items: center;
}

#menu #menuItemsContainer .item .item-container .item-description h4 {
   font-size: 1rem;
   line-height: 1.2rem;
   font-weight: 700;
}

#menu #menuItemsContainer .item .item-container .item-description p {
   color: var(--color-tertiary);
   font-size: 1rem;
   line-height: 1.2rem;
   font-weight: 400;
}

#menu #menuItemsContainer .item .item-container .item-description .price {
   font-family: 'Open Sans', sans-serif; 
   font-weight: 700;
   color: var(--color-secondary);
   font-size: 1rem;
   line-height: 1.2rem;
   margin-top: 0.5rem;
}

#menu #menuItemsContainer .item .item-container .item-img {
   display: flex;
   align-items: center;
   justify-content: center;
}

#menu #menuItemsContainer .item .item-container img {
   width: 6rem;
   border-radius: 0.4rem;
}

#menu #menuItemsContainer .item .btnAddItem {
   background-color: transparent;
   padding: 0.5rem 0.5rem 0.5rem 0rem;
   color: var(--color-secondary);
   margin-top: 1rem;
}

#menu #menuItemsContainer .item .addNewItem {
   display: flex;
   flex-direction: column;
   margin: 0.5rem 0.2rem 0.2rem;
   padding: 1rem 0.5rem;
   background-color: var(--color-gray-light);
}

#menu #menuItemsContainer .item .addNewItem  {
   display: flex;
   flex-direction: column;
}

#menu #menuItemsContainer .item .addNewItem .label {
   color: var(--color-gray-medium);
   font-size: 0.9rem;
   font-weight: 600;
   margin-bottom: 0.5rem;
}

#menu #menuItemsContainer .item .addNewItem  textarea {
  padding: 1rem;
  background-color: var(--color-gray-light);
  font-size: 0.9rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
  resize: none;
  outline: none;
  margin-bottom: 0.5rem;
}

#menu #menuItemsContainer .item .addNewItem  textarea::placeholder {
   color: #d1d1d1;
}

#menu #menuItemsContainer .item .addNewItem .buttons {
   display: flex;
   justify-content: end;
   align-items: center;
}

#menu #menuItemsContainer .item .addNewItem  .buttons span {
   margin-right: auto;
   font-family: 'Open Sans', sans-serif; 
}

#menu #menuItemsContainer .item .addNewItem  .buttons .btnMinus {
   background-color: transparent;
   border: 1px solid var(--color-orange);
   border-radius: 0.4rem;
   margin-right: 1rem;
   display: flex;
   align-items: center;
}

#menu #menuItemsContainer .item .addNewItem  .buttons .btnMinus svg {
   fill: var(--color-orange);
   width: 1rem;
   height: 1rem;
}

#menu #menuItemsContainer .item .addNewItem  .buttons .btnAdd {
   font-weight: 600;
   line-height: 1.1rem;
   display: flex;
   align-items: center;
   column-gap: 0.8rem;
}

#menu #menuItemsContainer .item .addNewItem  .buttons .btnAdd svg {
   fill: var(--color-primary);
   width: 1rem;
   height: 1rem;
}

#modalSummaryOrder {
   display: none;
}

#modalSummaryOrder.show {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
}

#modalSummaryOrder > div {
   background-color: var(--color-primary);
   padding: 1rem 1.25rem;
   width: 100%;
}

#modalSummaryOrder .container {
   background-color: var(--color-gray-light);
   display: flex;
   justify-content: space-between;
   border-radius: 0.4rem;
   padding: 0.5rem 1rem;
}

#modalSummaryOrder .container button {
   font-weight: 600;
}

#modalSummaryOrder .container p,
#modalSummaryOrder .container span {
   font-size: 0.8rem;
   font-weight: 400;
}

#modalSummaryOrder .container .price {
   font-family: 'Open Sans', sans-serif; 
   font-weight: 700;
}

#viewOrder {
   display: none;
}

#viewOrder.show {
   background-color: red;
   display: flex;
   justify-content: center;
   position: relative;
   z-index: 10;
   top: 0;
   left: 0;
   right: 0;
}

#viewOrder .viewOrderContainer {
   background: var(--color-orange) url(../images/background.png);
   background-size: contain;
   background-position: top;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

#viewOrder .viewOrderContainer > .container {
   position: fixed;
   top: 0rem;
   bottom: 0;
   left: 0;
   right: 0;
   margin-top: 7rem;
   background-color: var(--color-primary);
   border-radius: 2rem 2rem 0rem 0rem;
}

#viewOrder .viewOrderContainer > .container > .container {
   position: fixed;
   top: 0rem;
   margin-top: 11rem;
   bottom: 0;
   left: 0;
   right: 0;
   overflow-y: auto;
   overflow-x: hidden;
   padding-bottom: 5rem;
}

#viewOrder .headerViewOrder {
   background-color: #eeeeee;
   border-radius: 2rem 2rem 0rem 0rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.8rem 1.25rem;
   position: fixed;
   left: 0;
   right: 0;
   height: 4rem;
}

#viewOrder .headerViewOrder button:nth-child(1) {
   background-color: transparent;
   margin-right: auto;
}

#viewOrder .headerViewOrder button svg {
   fill: var(--color-orange);
   width: 1rem;
   height: 1rem;
}

#viewOrder .headerViewOrder h2 {
   color: var(--color-gray-medium);
   text-align: center;
}

#viewOrder .headerViewOrder #btnEditItems {
   background-color: transparent;
   color: var(--color-orange);
   font-size: 0.9rem;
   font-weight: 400;
   margin-left: auto;
}

#viewOrder #dataDelivery {
   margin-top: 2rem;
   padding-inline: 1.25rem;
}

#viewOrder #dataDelivery > h2 {
 font-size: 1.25rem;
 text-align: center;
 margin-bottom: 1rem;
}

#viewOrder #inDataDelivery {
   display: flex;
   flex-direction: column;
}

#viewOrder #inDataDelivery > label {
   font-size: 0.9rem;
   font-weight: 600;
   margin-block: 0.9rem 0.2rem;
   color: var(--color-tertiary);
   display: flex;
   align-items: center;
}

#viewOrder #dataDelivery .alert {
   font-size: 0.6rem;
   color: red;
   margin-left: auto;
}

#viewOrder #inDataDelivery > input {
   padding: 0.8rem;
   font-size: 0.9rem;
   border: 1px solid #d1d1d1;
   border-radius: 0.4rem;
   outline: none;
}

#viewOrder #inDataDelivery .typeDelivery {
   margin-top: 0.9rem;
}

#viewOrder #inDataDelivery .typeDelivery > p {
   font-size: 0.9rem;
   margin-bottom: 0.8rem;
   font-weight: 600;
   color: var(--color-tertiary);
   display: flex;
   align-items: center;
}

#viewOrder #inDataDelivery .typeDelivery > p .alert {
   margin-left: auto;
}

#viewOrder #inDataDelivery .typeDelivery .container {
   display: flex;
   justify-content: left;
   align-items: center;
   column-gap: 2.5rem;
}

#viewOrder #inDataDelivery .col {
   display: flex;
   align-items: center;
   column-gap: 0.5rem;
}

#viewOrder #inDataDelivery .col input[type="checkbox"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 1.2rem;
   height: 1.2rem;
   border-radius: 50%;
   outline: none;
   transition: background-color 0.3s;
   flex-grow: 0;
   flex-shrink: 0;
   margin-bottom: auto;
}

#viewOrder #inDataDelivery .col input[type="checkbox"] {
   border: 1.2px solid var(--color-gray-medium);
}

#viewOrder #inDataDelivery .col input[type="checkbox"]:checked {
   background-color: var(--color-orange);
   border-color: var(--color-orange);
}

#viewOrder #inDataDelivery .col label {
   font-size: 0.9rem;
   color: var(--color-tertiary);
}

#viewOrder #inDataDelivery #inDeliveryAddress {
   display: none;
}

#viewOrder #inDataDelivery #inDeliveryAddress.show {
   display: flex;
   flex-direction: column;
   margin-block: 1rem 0.9rem;
}

#viewOrder #inDataDelivery #inDeliveryAddress label {
   font-size: 0.9rem;
   font-weight: 600;
   margin-bottom: 0.2rem;
   color: var(--color-tertiary);
   display: flex;
   align-items: center;
}

#viewOrder #inDataDelivery #inDeliveryAddress label .alert {
   margin-left: auto;
}

#viewOrder #inDataDelivery #inDeliveryAddress > textarea {
   padding: 1rem;
   background-color: var(--color-primary);
   font-size: 0.9rem;
   border: 1px solid #d1d1d1;
   border-radius: 0.4rem;
   resize: none;
   outline: none;
   margin-bottom: 0.5rem;
 }

 #viewOrder #inDataDelivery #inDeliveryAddress > textarea::placeholder {
   color: #d1d1d1;
 }


#viewOrder #inDataDelivery #btnAddData {
   margin-top: 1rem;
   margin-left: auto;
}

#viewOrder .summaryOrder {
   margin-inline: 1.25rem;
   border-bottom: 2px solid #eeeeee ;
   margin-top: 2rem;
}

#viewOrder .summaryOrder > h2 {
   margin-block: 3rem 1rem;
   font-size: 1.25rem;
}

#viewOrder .summaryOrder .item {
   border-top: 2px solid #eeeeee ;
   padding-block: 1rem;
}

#viewOrder .summaryOrder .item-container {
   display: flex;
   align-items: flex-start;
}

#viewOrder .summaryOrder .item .item-img {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 0.5rem;
}

#viewOrder .summaryOrder .item .item-img img {
   width: 5rem;
   border-radius: 0.4rem;
}

#viewOrder .summaryOrder .item .item-description .header {
   display: flex;
   align-items: center;
}

#viewOrder .summaryOrder .item .item-description .header h4 {
   font-size: 0.9rem;
}

#viewOrder .summaryOrder .item .item-description .header p {
   font-size: 0.9rem;
   margin-left: auto;
   font-family: 'Open Sans', sans-serif; 
   font-weight: 700;
}

#viewOrder .summaryOrder .item .item-description > p {
   font-size: 0.9rem;
   margin-top: 0.5rem;
   color: var(--color-tertiary);
}

#viewOrder .summaryOrder .item .summaryItemContainer {
   display: flex;
   flex-direction: column;
   align-items: end;
   margin-top: 0.8rem;
}

#viewOrder .summaryOrder .item .summaryItemContainer .itemObservations {
   font-size: 0.9rem;
   font-weight: 700;
   color: var(--color-tertiary);
}
#viewOrder .summaryOrder .item .summaryItemContainer .itemObservations > span {
   font-size: 0.9rem;
   font-weight: 400;
   font-style: italic;
   color: var(--color-tertiary);
}

#viewOrder .summaryOrder .item .summaryItem {
   color: var(--color-orange);
   font-family: 'Open Sans', sans-serif; 
}

#viewOrder .deliveryDataContainer {
   padding-inline: 1.25rem;
   margin-top: 1.25rem;
}

#viewOrder .deliveryDataContainer ul {
   padding-top: 1rem;
}

#viewOrder .deliveryDataContainer ul li {
   color: var(--color-tertiary);
}

#viewOrder .deliveryDataContainer #alertData {
   color: var(--color-red);
   font-weight: 700;
}

#viewOrder .totalPriceContainer {
   padding-inline: 1.25rem;
   margin-block: 1.3rem;
}

#viewOrder .totalPriceContainer ul li {
   display: flex;
   justify-content: space-between;
   padding-block: 0.3rem;
}

#viewOrder .totalPriceContainer ul li span {
   font-weight: 700;
}

#viewOrder .totalPriceContainer ul li span:nth-child(2) {
   font-family: 'Open Sans', sans-serif; 
}

#viewOrder .container .submitOrderContainer {
   display: flex;
   justify-content: end;
   padding-inline: 1.25rem;
}

#modalOrderSent {
   display: none;
}

#modalOrderSent.show {
   display: flex;
   background-color: rgba(27, 27, 27, 0.753);
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   justify-content: center;
   align-items: center;
   z-index: 100;
}

#modalOrderSent > .orderSentcontainer {
   background-color: var(--color-primary);
   padding: 1rem;
   border-radius: 0.4rem;
   display: flex;
   flex-direction: column;
   margin-inline: 3rem;
}

#modalOrderSent #btnOrderSent {
   margin-left: auto;
}

@media screen and (min-width: 750px) {
   .main-container {
      width: 750px;
   }

   #modalSummaryOrder > div {
      width: 750px;
   }

   #viewOrder .viewOrderContainer {
      width: 750px;
      margin-inline: auto;
   }

   #viewOrder .container {
      width: 750px;
      margin-inline: auto;
   }
   
   #viewOrder .viewOrderContainer > .container {
      margin-top: 13rem;
   }

   #viewOrder .viewOrderContainer > .container > .container { 
      margin-top: 17rem;
   }


   #viewOrder .headerViewOrder {
      width: 750px;
      margin-inline: auto;
   }
}

