/* FONTES 
font-family: 'Montserrat', sans-serif; 400, 600, 700
font-family: 'Open Sans', sans-serif; 400, 700
*/

* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif; 
}

:root {
   --color-primary: #FFFFFF;
   --color-secondary: #1B1B1B;
   --color-tertiary: #333333;
   --color-gray-medium: #757575;
   --color-gray-light: #F6F6F6;
   --color-orange: #FF4C00;
   --color-green: #007A3B;
   --color-red: #FF0000;
}

/* GENERAL CONFIG */
button {
   background-color: var(--color-orange);
   color: var(--color-primary);
   font-size: 1rem;
   font-weight: 700;
   padding: 0.5rem 1rem ;
   border-radius: 0.4rem;
   border: none;
   cursor: pointer;
}

h1, h2, h3, h4, p, a, span {
   color: #1B1B1B;
   font-size: 1rem;
}

.app {
   display: flex;
   justify-content: center;
   background-color: #eeeeee;
}

.main-container {
   background-color: var(--color-primary);
   padding-bottom: 10rem;
}

.about {
   position: relative;
}
   
.about img {
   width: 100%;
}

.about #btnAbout {
   position: absolute;
   bottom: 1rem;
   right: 1rem;
   background-color: #ffffffc4;
   color: var(--color-orange);
}

header {
   padding: 1rem 1.25rem 2rem;
}

header h1 {
   font-weight: 700;
   font-size: 1.25rem;
}

header p {
   color: var(--color-red);
   font-weight: 600;
   margin-block: 1rem 2rem;
}

header h3 {
   font-size: 1rem;
   font-weight: 400;
}

header h2 {
   color: var(--color-tertiary);
   font-size: 1rem;
   font-weight: 400;
}

header div {
   background-color: var(--color-gray-light);
   border-radius: 0.4rem;
   padding: 1rem;
   text-align: center;
}

#menu {
   padding-inline: 1.25rem;
}

#menu h2 {
   font-size: 1.25rem;
   font-weight: 400;
}

#menu #menuItemsContainer {
   margin-top: 1rem;
   border-bottom: 2px solid #eeeeee;
}

#menu #menuItemsContainer .item {
   border-top: 2px solid #eeeeee ;
   padding-block: 1rem;
}

#menu #menuItemsContainer .item .item-container {
   display: flex;
   align-items: center;
}

#menu #menuItemsContainer .item .item-container .item-description h4 {
   font-size: 1rem;
   line-height: 1.2rem;
   font-weight: 700;
}

#menu #menuItemsContainer .item .item-container .item-description p {
   color: var(--color-tertiary);
   font-size: 1rem;
   line-height: 1.2rem;
   font-weight: 400;
}

#menu #menuItemsContainer .item .item-container .item-description .price {
   font-family: 'Open Sans', sans-serif; 
   font-weight: 700;
   color: var(--color-secondary);
   font-size: 1rem;
   line-height: 1.2rem;
   margin-top: 0.5rem;
}

#menu #menuItemsContainer .item .item-container .item-img {
   display: flex;
   align-items: center;
   justify-content: center;
}

#menu #menuItemsContainer .item .item-container img {
   width: 6rem;
   border-radius: 0.4rem;
}

#menu #menuItemsContainer .item .btnAddItem {
   background-color: transparent;
   padding: 0.5rem 0.5rem 0.5rem 0rem;
   color: var(--color-secondary);
   margin-top: 1rem;
}

#menu #menuItemsContainer .item .addNewItem {
   display: flex;
   flex-direction: column;
   margin: 0.2rem;
   padding: 1rem 0.5rem;
   background-color: var(--color-gray-light);
}

#menu #menuItemsContainer .item .addNewItem  {
   display: flex;
   flex-direction: column;
}

#menu #menuItemsContainer .item .addNewItem .label {
   color: var(--color-gray-medium);
   font-size: 0.9rem;
   font-weight: 600;
   margin-bottom: 0.5rem;
}

#menu #menuItemsContainer .item .addNewItem  textarea {
  padding: 1rem;
  background-color: var(--color-gray-light);
  font-size: 0.9rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
  resize: none;
  outline: none;
  margin-bottom: 0.5rem;
}

#menu #menuItemsContainer .item .addNewItem .buttons {
   display: flex;
   justify-content: end;
   align-items: center;
}

#menu #menuItemsContainer .item .addNewItem  .buttons span {
   margin-right: auto;
}

#menu #menuItemsContainer .item .addNewItem  .buttons .btnMinus {
   background-color: transparent;
   border: 1px solid var(--color-orange);
   border-radius: 0.4rem;
   margin-right: 1rem;
   display: flex;
   align-items: center;
}

#menu #menuItemsContainer .item .addNewItem  .buttons .btnMinus svg {
   fill: var(--color-orange);
   width: 1rem;
   height: 1rem;
}

#menu #menuItemsContainer .item .addNewItem  .buttons .btnAdd {
   font-weight: 600;
   line-height: 1.1rem;
   display: flex;
   align-items: center;
   column-gap: 0.8rem;
}

#menu #menuItemsContainer .item .addNewItem  .buttons .btnAdd svg {
   fill: var(--color-primary);
   width: 1rem;
   height: 1rem;
}

#modalSummaryOrder {
   display: none;
}

#modalSummaryOrder.show {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
}

#modalSummaryOrder > div {
   background-color: var(--color-primary);
   padding: 1rem 1.25rem;
   width: 100%;
}

#modalSummaryOrder .container {
   background-color: var(--color-gray-light);
   display: flex;
   justify-content: space-between;
   border-radius: 0.4rem;
   padding: 0.5rem 1rem;
}

#modalSummaryOrder .container button {
   font-weight: 600;
}

#modalSummaryOrder .container p,
#modalSummaryOrder .container span {
   font-size: 0.8rem;
   font-weight: 400;
}

#modalSummaryOrder .container .price {
   font-family: 'Open Sans', sans-serif; 
   font-weight: 700;
}

#viewOrderContainer {
   display: none;
}

#viewOrderContainer.show {
   display: block;
   background-color: transparent;
}

#viewOrderContainer .container {
   position: fixed;
   top: 5rem;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: var(--color-primary);
   border-radius: 2rem 2rem 0rem 0rem;
   overflow-y: auto;
   padding-bottom: 3rem;
}

#viewOrderContainer .headerViewOrder {
   background-color: #eeeeee;
   border-radius: 2rem 2rem 0rem 0rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.8rem 1.25rem;
   position: fixed;
   left: 0;
   right: 0;
}

#viewOrderContainer .headerViewOrder button:nth-child(1) {
   background-color: transparent;
   margin-right: auto;
}

#viewOrderContainer .headerViewOrder button svg {
   fill: var(--color-orange);
   width: 1rem;
   height: 1rem;
}

#viewOrderContainer .headerViewOrder h2 {
   color: var(--color-gray-medium);
   text-align: center;
}

#viewOrderContainer .headerViewOrder #btnEditItems {
   background-color: transparent;
   color: var(--color-orange);
   font-size: 0.9rem;
   font-weight: 400;
   margin-left: auto;
}

#viewOrderContainer .summaryOrder {
   margin-inline: 1.25rem;
   border-bottom: 2px solid #eeeeee ;
   margin-top: 7rem;
}

#viewOrderContainer .summaryOrder > h2 {
   margin-block: 1rem;
   font-size: 1.25rem;
}

#viewOrderContainer .summaryOrder .item {
   border-top: 2px solid #eeeeee ;
   padding-block: 1rem;
}

#viewOrderContainer .summaryOrder .item-container {
   display: flex;
   align-items: flex-start;
}

#viewOrderContainer .summaryOrder .item .item-img {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 0.5rem;
}

#viewOrderContainer .summaryOrder .item .item-img img {
   width: 5rem;
   border-radius: 0.4rem;
}

#viewOrderContainer .summaryOrder .item .item-description .header {
   display: flex;
   align-items: center;
}

#viewOrderContainer .summaryOrder .item .item-description .header h4 {
   font-size: 0.9rem;
}

#viewOrderContainer .summaryOrder .item .item-description .header p {
   font-size: 0.9rem;
   margin-left: auto;
   font-family: 'Open Sans', sans-serif; 
   font-weight: 700;
}

#viewOrderContainer .summaryOrder .item .item-description > p {
   font-size: 0.9rem;
   margin-top: 0.5rem;
}

#viewOrderContainer .summaryOrder .item .summaryItemContainer {
   display: flex;
   flex-direction: column;
   align-items: end;
   margin-top: 0.8rem;
}

#viewOrderContainer .summaryOrder .item .summaryItemContainer .itemObservations {
   font-size: 0.9rem;
   font-weight: 700;
}
#viewOrderContainer .summaryOrder .item .summaryItemContainer .itemObservations > span {
   font-size: 0.9rem;
   font-weight: 400;
   font-style: italic;
}

#viewOrderContainer .summaryOrder .item .summaryItem {
   color: var(--color-orange);
   font-family: 'Open Sans', sans-serif; 
}

#viewOrderContainer .deliveryDataContainer {
   padding-inline: 1.25rem;
   margin-top: 1.25rem;
}

#viewOrderContainer .totalPriceContainer {
   padding-inline: 1.25rem;
   margin-block: 1.3rem;
}

#viewOrderContainer .totalPriceContainer ul li {
   display: flex;
   justify-content: space-between;
   padding-block: 0.3rem;
}

#viewOrderContainer .totalPriceContainer ul li span {
   font-weight: 700;
}

#viewOrderContainer .totalPriceContainer ul li span:nth-child(2) {
   font-family: 'Open Sans', sans-serif; 
}

#viewOrderContainer .container .submitOrderContainer {
   display: flex;
   justify-content: end;
   padding-inline: 1.25rem;
}

#viewOrderContainer .totalPriceContainer ul li:nth-child(2) span:nth-child(2) {
   color: var(--color-green);
}

@media screen and (min-width: 750px) {
   .main-container {
      width: 750px;
   }

   #modalSummaryOrder > div {
      width: 750px;
   }
}

